$font: "JetBrains Mono";
$black: #000000;
$white: #ffffff;

.wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;

  h2 {
    font-family: $font;
    font-style: "normal";
    letter-spacing: 0.3px;
    text-transform: capitalize;
    margin: 1.6%;
  }

  form {
    margin-top: 2rem;
  }

  mat-form-field {
    color: 1px solid $black;
    font-family: $font;
    font-style: "normal";
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    width: 250px;
  }

  .half-width {
    width: 30%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    margin-bottom: 20px;
  }

  .register_p {
    text-align: right;
    margin: 1.6%;
  }

  .register {
    font-family: $font;
    font-style: "normal";
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: $white;
    background: $black;
    transition: all 0.5s;
  }

  .register:hover {
    text-transform: capitalize;
    color: $black;
    background: $white;
    transform: scale(1.2);
    border: 1px solid $black;
    margin-right: 1.6%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $black;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: $black;
  }

  ::ng-deep .mat-input-element {
    caret-color: $black;
  }

  ::ng-deep .mat-form-field-label {
    color: $black;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $black;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 700px) {
  .wrapper {
    h2 {
      margin: 0.6%;
    }

    .half-width {
      width: 48%;
      margin-left: 0.6%;
      margin-right: 0.6%;
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    h2 {
      margin: unset;
    }

    .half-width {
      width: 100%;
    }

    .register_p {
      margin: unset;
    }
  }
}
