<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #publicsidenav class="sidenav">
        <div class="main">

            <app-app-public-sidenav-list (publicsidenavClose)="publicsidenav.close()"></app-app-public-sidenav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="mat-sidenav-content">
        <app-header (publicsidenavToggle)="publicsidenav.toggle()">

        </app-header>
        <div class="main2">
            <router-outlet (publicsidenavToggle2)="publicsidenav.toggle()"></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>